### Build & System ###
target/
build/
bin/
*.class
*.log
.DS_Store
Thumbs.db

### Secrets & Config (CRITICAL) ###
src/main/resources/application.properties
.env
*.jks
*.p12

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
*.code-workspace

### Maven ###
.mvn/
mvnw
mvnw.cmd